body{
    font-family: Arial, Verdana;
    background:#000000;
    color:#FFFFFF;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2{
    color:#0D0D0D;
    font-size: 30px;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    color: #C4C4C4;
}

img{
    width: 250px;
    border-style: dashed;
    border:10px;
    border-color:#FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px;
    border-style: dashed;
    border-color:#FFFFFF;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

.blue{
    background-color: #000fff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

.yellow{
    background-color: #fff000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    margin-left: 5px;
    color:#707070
}

.green{
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

footer{
    background: linear-gradient(#000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px;
    border-style: solid;
    border-color:#FFFFFF;
}

footer p{
    font: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}